* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.divtang1{
    display: flex;
    width: 550px;
    gap: 10px;  
    margin-top: 10px;
    margin-bottom: 10px;
}
h1{
    color: brown;
    width: 150px;
    display: flex;
    justify-content: center;
}
h2{
    width: 100%;
    background-color: brown;
    color: white;
    display: flex;
    justify-content: center;
}
.div2{
    width: 550px;
    height: 270px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    
}
.pi{
    width: 432.14px;
    background-color: aquamarine;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pe{
    width: 117.86px;
    color: black;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div3 div{
    width: 33.3%;
    height: 100px;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div3{
    display: flex;
    gap: 10px;
}
.end div{
    width: 33.3%;
    height: 100px;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.end{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
footer{
    width: 550px;
}
@media (max-width: 1200px) {
    .feat {
        justify-content: space-between;
    }
    .box, .sos {
        width: 45%;
        flex: 1 1 45%;
    }
}

@media (max-width: 768px) {
    .midi {
        flex-direction: column;
        align-items: center;
    }
    .box, .sos {
        width: 100%;
        flex: 1 1 100%;
    }
}
