
body{
    background-color: grey;
}
.div1{
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 800px;

    
}
h1{
    color: black;
    text-align: center;
}
button{
    background-color: blue;
    width: 169.6px;
    height: 21.2px;
    
}
form{
    padding-left: 270px;
}
