
.div{
    background-color: white; 
    border: 20px solid lightgray; 
    display: flex;
    justify-content: right;
    padding-left: 12px;
    width: 20%;
   
    
   
}
.div1{
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 350px;
        

    
}
h1{
    color: black;
    
}
button{
    background-color: blue;
    width: 169.6px;
    height: 21.2px;
    
}
form{
    padding-left: 1 px;
}
