hr{
    border: 2px dashed #322b2b;
    margin: 20px 0;
    width: 1200px;
}
.blu{
    color: rgb(10, 10, 84);
    display: inline;
    
}

.table{
    border-collapse: collapse;
}
td{
    padding: 10px;
   
}
.line{
    border: none;
}
div{
    background-color: black;
    width: 1px;
    height: 170px;
    padding-right: 3px;
    padding-top: 105px;
    
}
.border-cell{
    width: 400px;
    padding-bottom: 70px;
}
.div1{
    display: inline;   
}
.ig{
    padding-left: 15px;
}
.hn{
    padding-bottom: 70px;
}
.mo{
    opacity: 0.5;
}
