*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.div1{
    padding-top: 20px;
    width: 300px;
    height: 600px;
    text-align: center;
    line-height: 40px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: -30px;
    
}   
.div2{
    background-color: red;
    color: white;
}
.div3{
    position: relative;
    left: 120px;
    top: 60px;
}
.text{
    color: goldenrod;
}
.button1{
    width: 250px;
    height: 30px;
    border-radius: 50px;
    background-color: red;
    color: white;
    border: none;
}
.button2{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    color: red;
    background-color: white;
    border: 3px solid red;
    
}
.span1{
    position: relative;
    left: 90px;
}
.span2{
    position: relative;
    left: 30px;

}
body{
    background-color: grey;
}