.image-container {
    position: relative;
    width: 360px; 
    max-width: 600px; 
}

.image-container img {
    width: 360px;
    height: auto;
    display: block;
}

.text-overlay {
    position: absolute;
    top: 67%;
    width: 360px;
    
    color: white; 
    font-size: 17px;    
    font-weight: bold;
    padding-top: 10px;
    background-color: rgba(218, 134, 0, 0.5);
    padding-bottom: 10px;
    border-radius: 5px;
}
span{
    margin-left: 20px;
}
h2{
    width: 360px;
}



.news-content{
    height: 60px;
    width: 200px;
}
.news-content p {
    margin-bottom: 0;
    width: 200px;
}
.news-content h3 {
    margin-top: 0;
    width: 200px;
}   





/* jkdfjkadbfabdfjkabjkfbakjjk */




.pai{
    margin-top: 0px;
    padding-left: 0px;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.div2{
    width: 100%;
    height: 20px;
    background-color: grey;
    display: flex;
    margin-left: 400px;
    padding-top: 15px;
    
}
.room{
    display: flex;
}



.room img {
    width: 120px;
    height: auto;
    border-radius: 10px;
    margin-right: 10px;
}

.room content {
    display: flex;
    flex-direction: column; 
    margin-left: 20px;
}

.info {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 20px; 
}

.year {
    background-color: #1e40af;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.category {
    background-color: gray;
}
.content{
    margin-left: 10px;
}
.divchua2{
    padding-top: 15px;
    padding-left: 15px;
    background-color: grey;
    height: 400px;
    width: 360px;
}
.butter{
    width: 70px;
    height: 30px;
    background-color: rgb(167, 167, 167);
    margin-top: 10px;
    margin-left: 130px;
    border: none;
}

.clubs-ranking{
    width: 375px;
}
    
